@using app.Services.Vouchern
@model VoucherTypesViewModel
@{
    ViewData["Title"] = "New Voucher Type";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> New Voucher Type</li>
            </ol>
            <div>
                <a asp-action="VoucherTypes" class="btn btn-outline-primary"><i class="fa fa-list" aria-hidden="true"></i> Voucher Types</a>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-info">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    New Voucher Type
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="AddVoucherType" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="ShortName" class="control-label"></label><sup><b class="text-danger">*</b></sup>
                                <input asp-for="ShortName" class="form-control" required />
                                <span asp-validation-for="ShortName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label><sup><b class="text-danger">*</b></sup>
                                <input asp-for="Name" class="form-control" required />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <div class="position-absolute response-alert" id="response">
                    @if (Model is not null)
                    {
                        if (Model.ResponseViewModel is not null)
                        {
                            if (Model.ResponseViewModel.ResponseCode.Equals(200))
                            {
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>Success!</strong> @Model.ResponseViewModel.ResponseMessage
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }
                            else if (Model.ResponseViewModel.ResponseCode.Equals(400))
                            {
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong>Bad Request!</strong> @Model.ResponseViewModel.ResponseMessage
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }
                            else if (Model.ResponseViewModel.ResponseCode.Equals(404))
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Not Found!</strong> @Model.ResponseViewModel.ResponseMessage
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Internal Error!</strong> @Model.ResponseViewModel.ResponseMessage
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Voucher').addClass('menu-open');
            $('#VoucherVoucherTypes').addClass('active');

            setTimeout(function() {
                $('#response').hide();
            }, 5000);
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
