html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#topLogo {
    margin-right: 20px
}

.main-layout-footer {
    max-height: 70px !important;
    color: #00a090 !important;
}

.response-alert {
    top: 15px !important;
    right: 19px !important;
}

.btn-bg-color {
    background-color: #00a090 !important;
}

.site-modal-btn {
    margin: 5px !important;
    padding: 5px 20px !important;
    border-radius: 3px !important;
}

.sidebar-logo-text-box {
    padding: 5px;
    margin: 40px 0;
    margin-left: 3px;
}

.sidebar-logo-text {
    padding: 0;
    margin: 0;
    line-height: 1;
}
